Repository Clay-foundation/model, pull requests merged in 2023-12, with the labels that each got.

#56 Generate embeddings via prediction loop
  README.md
  src/datamodule.py
  src/model_vit.py
  src/tests/test_datamodule.py
  src/tests/test_model.py
Labels: model-architecture

#54 Batch setup
  .gitignore
  README.md
  batch/Dockerfile
  batch/compute-environment.json
  batch/fetch_and_run.sh
  batch/job-definition.json
  batch/submit.py
  scripts/datacube.py
  scripts/mgrs_sample.gpkg
  scripts/tile.py
Labels: data-pipeline

#66 Let LightningDataModule return spatiotemporal metadata
  src/datamodule.py
  src/model_vit.py
  src/tests/test_datamodule.py
  src/tests/test_model.py
  trainer.py
Labels: data-pipeline

#47 Implement MAE with support for position, time, latlon & channel embeddings
  conda-lock.yml
  environment.yml
  src/README.md
  src/callbacks_wandb.py
  src/datamodule.py
  src/model_clay.py
  src/utils.py
  trainer.py
Labels: model-architecture

#89 Initialize Jupyter Book documentation
  .github/workflows/deploy-docs.yml
  .gitignore
  README.md
  conda-lock.yml
  docs/_config.yml
  docs/_toc.yml
  docs/installation.md
  docs/intro.md
  docs/logo.png
  environment.yml
Labels: documentation

#91 Let ClayDataModule return same spatiotemporal fields as GeoTIFFDataModule
  README.md
  src/datamodule.py
  src/model_vit.py
  src/tests/test_datamodule.py
Labels: data-pipeline

#92 Allow ClayDataModule to load GeoTIFF files directly from s3
  src/datamodule.py
  src/tests/test_datamodule.py
Labels: data-pipeline

#95 Refactor model for multi-device usage and easier disabling of masking
  src/model_clay.py
Labels: model-architecture

#98 Document how to generate vector embeddings
  docs/_toc.yml
  docs/model_embeddings.md
Labels: documentation

#99 Document how to finetune pretrained model on downstrem task
  docs/_toc.yml
  docs/model_finetuning.md
Labels: documentation

#100 Document how the benchmark dataset labels were prepared
  docs/_toc.yml
  docs/data_labels.md
Labels: documentation
